@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #ff7979;
  --button-corlor: #38cc8b;
  --header-color: #5e54a4;
  --text-color: #3d3b48;
  --text-color-secondary: #fff;
  --text-error: #ff7979;
}

.app {
  width: 100%;
  height: 140vh;
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1100px) {
  .app {
    width: 100%;
    height: 800px;
    background-image: url("./images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
}
